---
layout: default
title: Projects
permalink: /projects
---

<!-- Projects -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto px-0">
        <div class="bg-white shadow block">
          {% for project in site.projects %}
          {% include project.html %}
          {% endfor %}
          <!-- pagination -->
          {% include pagination.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Projects  -->
<!-- 
<div class="container">
  <div class="row">
    {% for project in site.projects %}
      <div class="col-lg-4 col-md-6 mb-4">
        <h2><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
      </div>
    {% endfor %}
  </div>
</div> -->
