---
layout: default
title: Projects
permalink: /projects
---

<!-- Projects -->
<section class="section">
  <h1 class="a-center">Projects</h1>
  <div class="container">
    <br>
    <div class="row">
    <div class="content">
        <div class="col-lg-10 mx-auto px-0">
          <div class="bg-white shadow block">
            {% for project in site.projects %}
              {% include project.html %}
            {% endfor %}
            <!-- pagination -->
            {% include pagination.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
