<article class="mb-5">
  {% if project.subheadline %}
  <h2 class="h4"><a class="project-title" href="{{ project.url | relative_url }}">{{project.subheadline }} - {{ project.title }}</a></h2>
  {% else %}
  <h2 class="h4"><a class="project-title" href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
  {% endif %}
  <!-- <h2 class="h4"><a class="project-title" href="{{ project.url | relative_url }}">{{ project.title }}</a></h2> -->
  <div class="mb-3 project-meta">
    {% if project.author %}
    <a href="{{ 'author/' | relative_url }}{{ project.author | slugify }}">{{ project.author | titleize }}</a>{%endif%},
    {{ project.date | date: '%b %d, %Y' }},
    {% if project.tags.size >= 1 %}
    {% for tag in project.tags %}
    <a href="{{ 'tag/' | relative_url }}{{ tag | slugify }}">{{ tag | capitalize }}</a>
    {% endfor %}
    {% endif %}
  </div>
  <p>{% assign curlyend = '}' %}{{ project.content | markdownify | strip_html | replace: "{% include JB/setup %", "" | replace: curlyend, "" | truncatewords: 30 }}</p>
  <a href="{{ project.url | relative_url }}" class="btn btn-sm btn-transparent pl-0">read more</a>
</article>